@using FitnessApp.ViewModels
@model List<TrainerViewModel>
@{
    ViewBag.Title = "ListAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Trainers</h2>
<a class="btn btn-primary" href="@Url.Action("Create", "Trainers")" role="button">Create new</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Phone Number</th>
            <th scope="col">E-mail</th>
            <th scope="col">Biography</th>
            <th scope="col">Photo</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        
        @foreach (var trainer in Model)
        {
            <tr>
                <td>@trainer.Id</td>
                <td>@Html.ActionLink(trainer.FullName, "Details", new { id = trainer.Id })</td>
                <td>@trainer.Phone</td>
                <td>@trainer.Email</td>
                <td>@trainer.Biography</td>
                <td>@trainer.Photo</td>
                <td>@Html.ActionLink("Edit", "Edit", new { id = trainer.Id }, new { @class = "btn btn-primary" })</td>
                <td>
                    @using (Html.BeginForm("Delete", "Trainers", new { id = trainer.Id }))
                    {
                        <button class="btn btn-primary" type="submit"
                                onclick="return confirm('Are you sure you want to delete @trainer.FullName')">Delete</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
