@model FitnessApp.ViewModels.TrainingTypeDetailsViewModel
@using FitnessApp.Models
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string imgPath = Model.Photo == null ? "1" : Model.Photo;
}
<h2>@Model.Name</h2>
<img src="@Url.Content(imgPath)" alt="No photo available" class="img-thumbnail" height="300" width="200">

<table class="table-sm">
    <tbody>
        <tr>
            <td>Trainer type:</td>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <td>Trainer Full name:</td>
            <td>@Model.Trainer.FullName</td>
        </tr>
    </tbody>
</table>
<br />
<p>@Html.ActionLink("Back to List", "Index")</p>
